*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(329,768,357)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%233850A1'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='366' height='305' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

header {
  padding: 12px;
  min-width: 400px;
}

h1 {
  font-size: 1.2rem;
  color: #2744a3;
}

#time {
  font-size: 1rem;
  font-weight: 600;
  float: right;
  color: #2744a3;
}

.topic {
  text-align: center;
  margin: 24px 0;
  color: #2744a3;
}

#book-container {
  width: 80%;
}

#books {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid #333333a0;
}

.remove {
  width: fit-content;
  padding: 4px;
  border: 1px solid #333333a0;
  font-weight: 600;
}

hr {
  width: 50px;
}

#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 32px;
  margin: 0 auto;
  min-width: 400px;
}

#myForm {
  width: 86%;
  max-width: 600px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #333333a0;
  font-weight: 600;
  width: 100%;
}

#submit {
  padding: 10px;
  width: fit-content;
  align-self: flex-end;
  font-weight: 600;
  margin: 14px 0;
}

.remove,
#submit {
  cursor: pointer;
  border-radius: 5px;
}

.awesome-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.awesome-book h2 {
  font-weight: 600;
  font-size: 1rem;
}

.awesome-book:nth-child(odd) {
  background: #3850a1ca;
  color: white;
}

.awesome-book:nth-child(even) {
  background: white;
  color: #3850a1;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

#nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  border: 1px solid #3850a1;
  margin-bottom: 12px;
}

#nav-links {
  display: flex;
}

.nav-link {
  padding: 10px;
  list-style: none;
  color: #2744a3;
}

.nav-link:not(:last-child) {
  border-right: 1px solid #3850a1;
}

#confirm {
  align-self: flex-end;
  margin: 4px 0;
  font-weight: 500;
  font-size: 1rem;
}

#contact-container {
  min-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cc {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #3850a1ec;
  color: white;
  gap: 24px;
  border-radius: 10px;
}

.contact-info {
  padding: 0 32px;
}

.hidden,
#confirm {
  display: none !important;
}

.active {
  background-color: #2744a3;
  color: white;
}

.nav-link:hover {
  cursor: pointer;
  font-weight: 600;
}

footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #3850a1;
}

footer a:hover {
  color: #1b399b;
  font-weight: 600;
  transform: translateY(-5px);
}
